<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Homepage</a>
      <a href="/inventory">My Inventory</a>
        <a href="/grocery">My Grocery List</a>
    </nav>
    <h1><%= title %></h1>