<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b7d8f0;">
      <% if (user) { %>
        <div class="container-fluid">
          <div class="navbar-nav me-auto">
            <a class="nav-item nav-link" href="/users">Homepage</a>
            <a class="nav-item nav-link" href="/inventory">My Inventory</a>
            <a class="nav-item nav-link" href="/grocery">My Grocery List</a>
          </div>
          <div class="navbar nav ml-auto">
            <a class="nav-item nav-link" href="/logout">Log Out</a>
            <div class="nav-item user-login align-items-center"></div>
              <img src="<%= user.avatar %>" class="rounded-circle" alt="avatar" style="width: 30px; height: 30px;" referrerpolicy="no-referrer">
              <span class="ml-2"><%= user.name %></span>
            </div>
          </div>
        </div>
      <% } else { %>
        <div class="container-fluid px-4">
          <div class="navbar nav me-auto">
            <a class="nav-item nav-link" href="/">Homepage</a>
          </div>
          <div class="navbar nav ms-auto">
            <a class="nav-item nav-link" href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" alt="Google login"></a>
          </div>
        </div>
      <% } %>
    </nav>
    <h1 style="text-align: center;"><%= title %></h1>