<%- include('./partials/header') %>

<div class="text-center">
  <p>Do you ever have a hard time tracking down the location of your food?</p>
  <p>Do you keep finding expired items in your fridge?</p>
  <p>Does the amount of sauce bottles in your fridge overwhelm you?</p>
  <p>Is your freezer packed to the brim leaving you with no idea of what is in there?</p>
  <p>Do you come home from the grocery store realizing you left some items off your list?</p>
  <br>  
  <h5>Well we have got you covered! Introducting <%= title %>! A clean, easy way to manage all of your food items!</h5>
  <br>
  <h6>Log In to get started!</h6>
</div>

<%- include('./partials/footer') %>