<%- include('./partials/header') %>

  <p>Welcome to <%= title %>! Please Log In to get started with setting up your inventory. Welcome Back to all our current users!</p>

<%- include('./partials/footer') %>