<%- include('../partials/header') %>

  <p class="text-center">Welcome back <%= user.name %>! Any lists created should appear down below! If you dont have any click on the links above to get started! </p>

  <div class="justify-content-center">
    <img src="../../public/images/inventory.png" alt="Inventory Table Snapshot" class="img-fluid">
    <img src="../../public/images/grocery.png" alt="Grocery Table Snapshot" class="img-fluid">
  </div>

<%- include('../partials/footer') %>