<%- include('../partials/header') %>

<p class="text-center">Welcome back <%= user.name %>! Any lists created should appear down below! If you dont have any click on the links above to get started! </p>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-lg-4 justify-content-center align-items-center">
      <a href="/inventory"><img src="images/inventory.png" alt="Inventory Table Snapshot" class="img-fluid w-85"></a>
    </div>
    <div class="col-md-6 col-lg-4 justify-content-center align-items-center">
      <a href="/grocery"><img src="images/grocery.png" alt="Grocery Table Snapshot" class="img-fluid w-85"></a>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>