<%- include('../partials/header') %>

  <p>Welcome back <%= user.name %>! Any lists created should appear down below! If you dont have any click on the links above to get started! </p>

<%- include('../partials/footer') %>